# highlight_color_h 1 9.92 0.4

# general yellow highlights
highlight_color_h 1 0.86 0

# Blue highlight 
highlight_color_n 0 0.86 1

# References green highlights
highlight_color_r 0.2 1 0.2
# highlight_color_t 0.1 0.8 0.3
#
# Read references dark green highlight
highlight_color_y 1 0.2 0.2 

# Unknown concept orange highlight
highlight_color_u 1 0.52 0

# imprecise concept dark orange highlight
highlight_color_i 0.7 0 0

# Wrong red highlight
highlight_color_y 1 0 0

